.Container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  position: relative;
}

.ImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImageContainer > img {
  height: 250px;
  margin-bottom: 1rem;
}

.ImageContainer > span {
  font-size: 1.5rem;
}

@media only screen and (max-width: 800px) {
  .Container {
    padding-top: 0rem;
    flex-direction: column;
    margin-bottom: 3rem;
  }
}
